                    /*MENU CSS CODE========================================================================================================================================================================================================================================*/
                    
                    * {
                        max-width: 100%;
                        overflow-x: hidden;
                        /*responsive  horizontal bar suppression*/
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        font-family: 'Helvetica Neue', Helvetica;
                    }
                    
                    .content {
                        max-width: 1250px;
                        margin: auto;
                        padding: 0px 30px;
                    }
                    
                    .navBar {
                        position: fixed;
                        background: rgba(255, 255, 255, 0.7);
                        z-index: 5;
                        /*displays the element on top of any other box that ocupies the same "line" on the screen*/
                        width: 100%;
                        padding: 0 0;
                        transition: all 0.3s ease;
                    }
                    
                    .navBar.sticky {
                        padding: 8px 0;
                        background: rgba(255, 255, 255, 1);
                        /*sets up opacity in the background of the menu but not the text.*/
                    }
                    
                    .navBar .logo img {
                        width: 75%;
                        height: 75%;
                    }
                    
                    .search {
                        position: fixed;
                        right: 20%;
                        top: 10px;
                    }
                    
                    .search input {
                        border: none;
                        background: rgba(255, 255, 255, 1);
                        opacity: 0.5;
                        border-bottom: 1px solid darkgreen;
                        font-size: 20px;
                    }
                    
                    .search button {
                        font-size: 27px;
                        background: rgba(255, 255, 255, 1);
                        opacity: 1;
                        color: darkgreen;
                        border: none;
                    }
                    
                    .navBar .content {
                        display: flex;
                        align-items: center;
                        /*aligns the two elements (logo, menu list) in the centre of the page(horizontally and vertically), one next to the other in the same line*/
                        justify-content: space-between;
                        /*justify the elements so the items are at both extremes of the page*/
                    }
                    
                    .navBar .menu-list {
                        display: inline-flex;
                        /*displays all the elements of the list one next to the other in the same line*/
                        margin-top: 100px;
                        margin-right: 26px;
                    }
                    
                    .menu-list li {
                        list-style: none;
                        /*getsrid of  the bullet points*/
                    }
                    
                    .menu-list li a {
                        color: rgb(5, 119, 61);
                        font-size: 18px;
                        font-weight: 500;
                        margin-left: 25px;
                        /*creates space between the list's elements*/
                        text-decoration: none;
                        /*gets rid of the link's underline*/
                    }
                    
                    .menu-list li a:hover {
                        color: darkorange;
                    }
                    
                    .header {
                        height: 100vh;
                        /*stablishes the height of the the box*/
                        background: url("img/storeFront.jpg") no-repeat;
                        /*places image of store front as a background*/
                        background-size: cover;
                        /*image stretches to cover the entirety of the 'header' box*/
                        background-position: center;
                        background-attachment: fixed;
                        /*keeps picture in place allowing other elements to slide over it*/
                    }
                    
                    .navBar .content {
                        display: flex;
                        align-items: center;
                        /*aligns the two elements (logo, menu list) in the centre of the page(horizontally and vertically), one next to the other in the same line*/
                        justify-content: space-between;
                        /*justify the elements so the items are at both extremes of the page*/
                    }
                    /* 3 lines Button Style and it does not display it */
                    
                    .icon {
                        color: #fff;
                        /* Colour */
                        font-size: 20px;
                        /* Font Size */
                        cursor: pointer;
                        /* Changes cursor when it is houvered */
                        display: none;
                        /* Hide Icon */
                    }
                    
                    .icon.off-btn {
                        position: absolute;
                        /* Sets potision as Absolute */
                        right: 30px;
                        /* Location of the "X" when the menu is shrunk */
                        top: 20px;
                        /* Location of the "X" in the shrunk down menu*/
                    }
                    
                    .navBar .menu-list {
                        display: inline-flex;
                        /*displays all the elements of the list one next to the other in the same line*/
                        margin-top: 100px;
                        margin-right: 26px;
                    }
                    
                    .menu-list li {
                        list-style: none;
                        /*getsrid of  the bullet points*/
                    }
                    
                    .menu-list li a {
                        color: rgb(5, 119, 61);
                        font-size: 18px;
                        font-weight: 500;
                        margin-left: 25px;
                        /*creates space between the list's elements*/
                        text-decoration: none;
                        /*gets rid of the link's underline*/
                    }
                    
                    .menu-list li a:hover {
                        color: darkorange;
                    }
                    /* container*/
                    
                    .body-content {
                        box-sizing: border-box;
                        height: 300vh;
                        padding-top: 150px;
                        background-color: whitesmoke;
                    }
                    
                    .cook-items {
                        display: flex;
                        /*add space between the menu cook items*/
                        justify-content: space-evenly;
                        /*align text cook items to center*/
                        text-align: center;
                        /*cook items background color*/
                        background-color: rgba(0, 100, 0, 1);
                        /*cook items border color*/
                        border: 2px solid darkgreen;
                        /*cook items width*/
                        width: 100%;
                    }
                    /*style cook iteme menu*/
                    
                    .cook-items a {
                        /*set color to whitesmoke*/
                        color: whitesmoke;
                        /*take off text decoration*/
                        text-decoration: none;
                    }
                    /*set space cook item menu*/
                    
                    .catagory {
                        margin: 0 -20% 0;
                    }
                    /*main header cooker catagory*/
                    
                    .item_details {
                        margin: 0 -20% 0;
                        font-size: 18px;
                        /* cook Items menu set color to whitesmoke  */
                        color: whitesmoke;
                        text-decoration: none;
                        cursor: pointer;
                    }
                    /*Dropdown catagory*/
                    
                    .dropdown-catagory {
                        display: none;
                        position: absolute;
                        background-color: #ffffff;
                        width: 170px;
                        z-index: 1;
                        border-radius: 5px;
                    }
                    /*Dropdown catagory a*/
                    
                    .dropdown-catagory a {
                        /* drop down menu set color to black  */
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                        cursor: pointer;
                    }
                    
                    .dropdown-catagory a:hover {
                        /*dropdown hover color*/
                        background-color: #fcf9f9;
                        /*dropdown no border*/
                        border: none;
                    }
                    /*dropdown catagory display block*/
                    
                    .catagory:hover .dropdown-catagory {
                        display: block;
                    }
                    /*product details*/
                    
                    .produproduct-container {
                        display: flex;
                        justify-content: center;
                        overflow: hidden;
                        margin-left: 50px;
                        padding: 20px;
                    }
                    /*style product*/
                    
                    .filterDiv {
                        /*flex: 1 15%;*/
                        float: left;
                        max-width: 1200px;
                        border-radius: 10px;
                        height: 15%;
                        width: 15%;
                        margin: 40px 40px 40px 40px;
                        cursor: pointer;
                        display: none;
                        color: rgb(29, 27, 27);
                        font-weight: bold;
                        text-align: center;
                        /* Hidden by default */
                    }
                    
                    .row p,
                    button {
                        position: baseline;
                    }
                    /*edit size image product details*/
                    
                    .product_image {
                        width: 95%;
                        height: 80%;
                    }
                    /*edit a product*/
                    
                    .row a {
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        font-weight: bold;
                        color: black;
                        text-decoration: none;
                    }
                    /* Add color on mouse-over to price */
                    
                    .shop-item-price a:hover {
                        text-decoration: none;
                        background-color: rgb(252, 249, 249);
                    }
                    /* Add margin on shop detail button*/
                    
                    .filterDiv button,
                    p,
                    image {
                        margin: 10px;
                    }
                    
                    img {
                        font-weight: bold;
                        border: 2px solid rgb(184, 183, 183);
                    }
                    /*style button*/
                    
                    .btn {
                        /*set text center*/
                        text-align: center;
                        /*vertical align middle*/
                        vertical-align: middle;
                        /*add padding*/
                        padding: .67em .67em;
                        /*cursor point*/
                        cursor: pointer;
                    }
                    /*style cart*/
                    
                    .btn-primary {
                        color: white;
                        background-color: #56CCF2;
                        border: none;
                        border-radius: .3em;
                        font-weight: bold;
                    }
                    /*style cart hover*/
                    
                    .btn-primary :hover {
                        background-color: #2D9CDB;
                        cursor: pointer;
                    }
                    
                    @media screen and (max-width: 1200px) {
                        /*style cook iteme menu*/
                        .cook-items {
                            display: block;
                            height: 50vh;
                            position: relative;
                        }
                        .dropdown-catagory {
                            left: 20%;
                            right: 20%;
                        }
                        .filterDiv p,
                        button {
                            max-width: 80px;
                            margin: 20px;
                        }
                    }