/*MENU CSS CODE========================================================================================================================================================================================================================================*/
*{
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Helvetica;
}
.content{
	max-width: 1250px;
	margin: auto;	
	padding: 0px 30px;
}
.navBar{
	position: fixed;
	background: rgba(255, 255, 255, 0.7);
	z-index: 5; /*displays the element on top of any other box that ocupies the same "line" on the screen*/
	width: 100%;
	padding: 0 0;
	transition: all 0.3s ease;
}

.navBar.sticky{
	padding: 8px 0;
	background: rgba(255, 255, 255, 1); /*sets up opacity in the background of the menu but not the text.*/
}

.navBar .logo img{
	width: 75%;
	height: 75%;
}

.search{
	position: fixed;
	right: 20%;
	top: 10px;
}

.search input{
	border: none;
	background: rgba(255, 255, 255, 1);
	opacity: 0.5;
	border-bottom: 1px solid darkgreen;
	font-size:20px;
}

.search button{
	font-size: 27px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	color: darkgreen;
	border: none;
}

.navBar .content{
	display: flex;
	align-items: center;		/*aligns the two elements (logo, menu list) in the centre of the page(horizontally and vertically), one next to the other in the same line*/
	justify-content: space-between;  /*justify the elements so the items are at both extremes of the page*/
}
.navBar .menu-list{
	display: inline-flex; /*displays all the elements of the list one next to the other in the same line*/
	margin-top: 100px;
	margin-right: 26px;
} 
.menu-list li{
	list-style: none; /*getsrid of  the bullet points*/
}

.menu-list li a{
	color: rgb(5,119,61);
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px; /*creates space between the list's elements*/
	text-decoration: none; /*gets rid of the link's underline*/
}

.menu-list li a:hover{
	color: darkorange;
}

.header{
	height: 100vh; /*stablishes the height of the the box*/
	background: url("img/storeFront.jpg") no-repeat; /*places image of store front as a background*/
	background-size: cover; /*image stretches to cover the entirety of the 'header' box*/
	background-position: center;
	background-attachment: fixed; /*keeps picture in place allowing other elements to slide over it*/
}

.navBar .content{
	display: flex;
	align-items: center;		/*aligns the two elements (logo, menu list) in the centre of the page(horizontally and vertically), one next to the other in the same line*/
	justify-content: space-between;  /*justify the elements so the items are at both extremes of the page*/
}

/* 3 lines Button Style and it does not display it */
.icon{
	color: #fff; /* Colour */
	font-size: 20px; /* Font Size */
	cursor: pointer; /* Changes cursor when it is houvered */
 	display: none; /* Hide Icon */
}
.icon.off-btn{
	position: absolute; /* Sets potision as Absolute */ 
	right: 30px;   /* Location of the "X" when the menu is shrunk */
	top: 20px;     /* Location of the "X" in the shrunk down menu*/
}

.navBar .menu-list{
	display: inline-flex; /*displays all the elements of the list one next to the other in the same line*/
	margin-top: 100px;
	margin-right: 26px;
} 
.menu-list li{
	list-style: none; /*getsrid of  the bullet points*/
}

.menu-list li a{
	color: rgb(5,119,61);
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px; /*creates space between the list's elements*/
	text-decoration: none; /*gets rid of the link's underline*/
}

.menu-list li a:hover{
	color: darkorange;
}

/*===========================================================================================================*/


                                /* container*/
                    
                    .body-content {
                        box-sizing: border-box;
                        height: 300vh;
                        padding-top: 150px;
                        background-color: whitesmoke;
                    }
                    
                    .cook-items {
                        display: flex;
                        /*add space between the menu cook items*/
                        justify-content: space-evenly;
                        /*align text cook items to center*/
                        text-align: center;
                        /*cook items background color*/
                        background-color: rgba(0, 100, 0, 1);
                        /*cook items border color*/
                        border: 2px solid darkgreen;
                        /*cook items width*/
                        width: 100%;
                    }
                    /*style cook iteme menu*/
                    
                    .cook-items a {
                        /*set color to whitesmoke*/
                        color: whitesmoke;
                        /*take off text decoration*/
                        text-decoration: none;
                    }
                    /*set space cook item menu*/
                    
                    .catagory {
                        margin: 0 -20% 0;
                    }
                    /*main header cooker catagory*/
                    
                    .item_details {
                        margin: 0 -20% 0;
                        font-size: 18px;
                        /* cook Items menu set color to whitesmoke  */
                        color: whitesmoke;
                        text-decoration: none;
                        cursor: pointer;
                    }
                    /*Dropdown catagory*/
                    
                    .dropdown-catagory {
                        display: none;
                        position: absolute;
                        background-color: #ffffff;
                        width: 170px;
                        z-index: 1;
                        border-radius: 5px;
                    }
                    /*Dropdown catagory a*/
                    
                    .dropdown-catagory a {
                        /* drop down menu set color to black  */
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                        cursor: pointer;
                    }
                    
                    .dropdown-catagory a:hover {
                        /*dropdown hover color*/
                        background-color: #fcf9f9;
                        /*dropdown no border*/
                        border: none;
                    }
                    /*dropdown catagory display block*/
                    
                    .catagory:hover .dropdown-catagory {
                        display: block;
                    }
                    /*product details*/
                    
                    .products {
                        width: 95%;
                        overflow: hidden;
                        margin-left: 50px;
                        padding: 20px;
                    }
                    /*style product*/
                    
                    .filterDiv {
                        /*flex: 1 15%;*/
                        float: left;
                        max-width: 1200px;
                        border: 2px solid rgb(184, 183, 183);
                        border-radius: 10px;
                        height: 15%;
                        width: 15%;
                        margin: 40px 40px 40px 40px;
                        cursor: pointer;
                        display: none;
                        color: rgb(29, 27, 27);
                        font-weight: bold;
                        text-align: center;
                        /* Hidden by default */
                    }
                    
                    .filterDiv p,
                    button {
                        position: baseline;
                    }
                    /*edit size image product details*/
                    
                    .product_image {
                        width: 95%;
                        height: 80%;
                    }
                    /*edit a product*/
                    
                    .products p a {
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        font-weight: bold;
                        color: black;
                        text-decoration: none;
                    }
                    /* Add color on mouse-over to price */
                    
                    .shop-item-price a:hover {
                        text-decoration: none;
                        background-color: rgb(252, 249, 249);
                    }
                    /* Add margin on shop detail button*/
                    
                    .filterDiv button,
                    p,
                    img {
                        margin: 7px;
                        font-weight: bold;
                    }
                    /*style button*/
                    
                    .btn {
                        /*set text center*/
                        text-align: center;
                        /*vertical align middle*/
                        vertical-align: middle;
                        /*add padding*/
                        padding: .67em .67em;
                        /*cursor point*/
                        cursor: pointer;
                    }
                    /*style cart*/
                    
                    .btn-primary {
                        color: white;
                        background-color: #56CCF2;
                        border: none;
                        border-radius: .3em;
                        font-weight: bold;
                    }
                    /*style cart hover*/
                    
                    .btn-primary :hover {
                        background-color: #2D9CDB;
                        cursor: pointer;
                    }
                    
                    @media screen and (max-width: 1200px) {
                        /*style cook iteme menu*/
                        .cook-items {
                            display: block;
                            height: 50vh;
                            position: relative;
                        }
                        .dropdown-catagory {
                            left: 20%;
                            right: 20%;
                        }
                        .filterDiv p,
                        button {
                            max-width: 80px;
                            margin: 20px;
                        }
                    }
/*checkout*/

.checkout_content {
    margin-top: 200px;
    height: 1000px;
}


/*edit product add shopping cart */

.section-bottom-links {
    /*background-color: rgba(0, 100, 0, 0.068);*/
    margin-left: 10%;
    margin-right: 10%;
    /*box-shadow: 0px 0px 10px #888888b9;*/
    text-align: center;
    display: flex;
	align-items: baseline; /*Aligns the elements (logo, menu list and SearchBar) in the centre of the page(horizontally and vertically), one next to the other in the same line*/
	justify-content: space-evenly;
}

.section-sub-bottom-links {
    margin-top: 3%;
    margin-bottom: 1%;
    width: 50%;
}

.sub-bottom-links-title strong {
    color: darkgreen;
    font-size: 25px;
    border-bottom: 1px solid darkgreen;
}

.sub-bottom-links-title ul,
li {
    color: black;
    font-size: 15px;
    display: block;
    /*displays all the elements of the list one next to the other in the same line*/
    margin: 2% 0 0 0;
    /* Defines margin top of the Menu Bar */
    list-style: none;
    /* It gets rid of the bullet points */
}

.sub-bottom-links-title a {
    color: black;
    font-size: 17px;
    font-weight: 300;
}

.sub-bottom-links-title a:hover {
    text-decoration: none;
    /* It gets rid with the decoration when hovered */
    color: darkorange;
    /* Changes the colour when Buttons are hovered */
}

.footer p {
    background-color: darkgreen;
    /* Footes Background Colour */
    border: 1px solid darkgreen;
    /* Sets the Footer border */
    text-align: center;
    /* Align the Footer's paragraph in the centre */
    color: whitesmoke;
    /* Sets the colour of the letters */
}


/*=====================================================================================================================================================================================*/
@media screen and (max-width: 1000px) {
	.icon{
		display: block;
		color: rgb(5,119,61);
	}
	.icon.hide{
		display: none;
	}
	.search{
		position: fixed;
		right: 18%;
		top: 10px;
	}
	
	.search input{
		border: none;
		background: rgba(255, 255, 255, 0.431);
		border-bottom: 1px solid darkgreen;
		font-size:14px;
	}
	
	.search button{
		font-size: 17px;
		background: rgba(255, 255, 255, 0.431);
		color: rgb(5,119,61);
		border: none;
	}

	.navBar .logo img{
		width: 25%;
		height: 25%;
	}
	.navBar .menu-list{
		position: fixed;
		top: 0;  /*aligns  menu  with the top left corner of the screen*/
		left: -100%; /*hides the  box off-screen*/
		height: 100vh;
		width: 100%;
		max-width: 400px; /*max widht of the "shrunk" menu's screen*/
		background: rgba(255, 255, 255, 0.9);
		display: block; /*menu elements show one above the other instean on the same line*/
		padding: 40px 0; /*spacing between the elements of the lmenu_ist an the navBar box*/
		text-align: center;
		z-index: 2;    /*displays above all other elements*/
		transition: all 0.3s ease; /*creates delay between the js instruction and the display modification*/
	}
	.navBar .menu-list.active{
		left: 0%;
	}
	.navBar .menu-list li{
		margin-top: 45px; /*spacing between the elements in the menu_list*/
	}
	.navBar .menu-list li a{
		font-size: 24px;
	}	
	/*Carousel mobile*/
	.item{
	padding-left: 0%;
	}
	.item img{
	width:100%;
	}
}
