/* Created by Jose Carlos Kuzolitz Garcia - x20164840 */

/* Places de body under the Menu */
.body-content{
	height: 120vh; /*stablishes the height of the the box*/
	background-color: whitesmoke; /* Background Colour */
	background-size: cover; /*image stretches to cover the entirety of the 'header' box*/
	background-position: center;
	background-attachment: fixed; /*keeps picture in place allowing other elements to slide over it*/
	/*margin:0% 10% 0% 10%; Background Margin */
	padding: 40px 0; /*creates a separation this box from the one before it*/
}

.body-content-div{
	display: flex;
	align-items: center;
	padding-top: 10%;
}

/* Form Positioning */
.body-content-div-form{
	margin:5% 5% 5% 5%;
	text-align: justify; /*justifies text */
	height: 80%;
	width: 100%;
}

.notform{
	width: 60%;
	margin-top: 0%;
	margin-right:15%;
}

/* Table positioning and Style */
.body-content-div-from-table{
	margin-left: 32%;
	
}

.body-content-div-from-table tr, td{
	padding: 2px;
	width:70%;
}

.form-label{
	font-weight: bold;
}

.body-content-div-from-table input, textarea{
	width:100%;
}

/* Send Button Style and positioning */
.message-btn{
	font-size: 20px;
	width: 50%;
	
	border: none;
	border-radius: 5px;
	padding: 5px;
	background-color: rgba(0, 100, 0, 0.561);
	color: whitesmoke;
	text-align: center;
}

/* Send Button Style when hovered */
.message-btn:hover{
    text-decoration: none; /* It gets rid with the decoration when hovered */
	background-color: darkgreen; /* Changes the colour when Buttons are hovered */
}

/*Contact Details Style and Positioning */
.contact-details{	
	width: 80%;
}

.contact-details label{
	font-weight: bold;
}

.contact-details h4{
	border-bottom: 1px solid black;
	font-weight: bold;
	margin-bottom: 6%;
}

/*Map position and style */
.map{
	padding-top: 0%;
	margin-top: 5%;
	width:80%;
	box-shadow: 0px 0px 10px #888888b9;
}

.map iframe{
	width: 100%;
}

.ADS{
	border: 1px solid black;
	background-color: whitesmoke;
	width:100%;
	height: 40%;
}


/* Mobile Screen Setup */

@media screen and (max-width:1024px) {
	.body-content{
		height: 150vh;
	}
	.body-content-div{
		background-color: whitesmoke;
		text-align: center;	
		display: block;
	}

	.body-content-div-form{
		margin-top:1%;
		margin-left: 5%;
		width: 90%;
	}

	.body-content-div-from-table{
		margin-left: 0%;		
	}

	.notform{
		margin-top: 15%;
		margin-left: 14%;
		padding-bottom: 15%;
		width: 90%;
		text-align: center;
		background-color: whitesmoke;
	}

	.ADS{
		display: none;
	}
	
}


