/*MENU CSS CODE========================================================================================================================================================================================================================================*/
*{
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Helvetica;
}

/* Div NavBar setup */
.navBar{
	position: fixed; /* Set a fixed position */
	background: white; /* Background Color */
	z-index: 5; /* Displays the elements on top of any other box that ocupies the same "line" on the screen */
	width: 100%; /* Occupies 100% of the page in Width */
	padding: 0 0; /* Padding set as 0 */
    transition: all 0.3s ease; /* Transition style setup */
}

.navBar.sticky{
	padding: 8px 0;
	background: rgba(255, 255, 255, 0.7); /*Sets up opacity in the background of the menu but not the text.*/
}

/* It Sizes the Logo Imge */
.navBar-content-logo img{
	width: 100%;
	height: 100%;
}

/* Navbar Content size, margin and padding setup */
.navBar-content{
	max-width: 80%;
	margin: auto;	
    box-shadow: 0px 0px 10px #888888b9;
    display: flex;
    align-items: center; /*Aligns the elements (logo, menu list and SearchBar) in the centre of the page(horizontally and vertically), one next to the other in the same line*/
    justify-content: space-between; /* justifies the elements. So the items are at both extremes of the page */
}

/* Search Bar positioning and style */
.navBar-search{
    display: absolute; /* Sets the item to accept an Absolute position */
    text-align: center; /* Centralize the item in the center of the Div */
    font-size: 20px; /* Font Size */
	width: 35%; /* Width of the div based on the size of the ".navBar-content" */
}

/* Set the searchBar Style */
.navBar-search-form-input{
    box-shadow: 0px 1px 0px darkgreen; /* Shadow of the Box */
	border:none; 
	
}

/* Search Bar button style */
.navBar-search-form-btn{
    border: 5px solid white; /* Defines Border */
    background-color: white; /* Defines Background colour */
    color: darkgreen; /* Defines Item Colour */
    width:5%;  /* Defines its width base don the ".navBar-search" div */
}

/* Content-Menu-List container positioning */
.navBar-content-menu-list{
	display: inline-flex; /*displays all the elements of the list one next to the other in the same line*/
    margin-top: 10%; /* Defines margin top of the Menu Bar */
    list-style: none; /* It gets rid of the bullet points */
	width:40%; /* Defines the width size */
}

/* Menu Buttons Style */
.navBar-content-menu-list li a{
    color: darkgreen; /* Colour */
    font-size: 25px; /* Size */
	margin: 0 0 0 27px; /* Margin between buttons, it creates a space between them */
}

/* Menu Buttons Style when they get hovered */
.navBar-content-menu-list li a:hover{
    text-decoration: none; /* It gets rid with the decoration when hovered */
	color: darkorange; /* Changes the colour when Buttons are hovered */
}

/* 3 lines Button Style and it does not display it */
.icon{
	color: #fff; /* Collour */
	font-size: 20px; /* Font Size */
	cursor: pointer; /* Changes cursor when it is houvered */
 	display: none; /* Hide Icon */
}
.icon.off-btn{
	position: absolute; /* Sets potision as Absolute */ 
	right: 30px;   /* Location of the "X" when the menu is shrunk */
	top: 20px;     /* Location of the "X" in the shrunk down menu*/
}

/* Places de body under the Menu */
.body-content{
	height: 100vh; /*stablishes the height of the the box*/
	background-color: whitesmoke; /* Background Colour */
	background-size: cover; /*image stretches to cover the entirety of the 'header' box*/
	background-position: center;
	background-attachment: fixed; /*keeps picture in place allowing other elements to slide over it*/
	margin:0% 10% 0% 10%; /* Background Margin */
	padding: 40px 0; /*creates a separation this box from the one before it*/
}


/* Form Positioning */
.body-content-div-form{
	margin:15% 10%5% 10%;
	text-align: justify; /*justifies text */
	height: 80%;
	width: 80%;
}

/* Table positioning and Style */
.body-content-div-from-table tr, td{
	padding: 2px;
	width:70%;
}

.form-label{
	font-weight: bold;
}

.body-content-div-from-table input, textarea{
	width:100%;
}

.contact-details{	
	position:absolute;
	margin-left: 40%;
	margin-top: -17%;
	width: 22%;
}

.contact-details label{
	font-weight: bold;
}

.contact-details h4{
	border-bottom: 1px solid black;
	font-weight: bold;
}

.map{
	position:absolute;
	margin-left: 42%;
	margin-top: -11.5%;
	width: 300px;
	height: 200px;
	box-shadow: 0px 0px 10px #888888b9;
}

.ADS{
	border: 1px solid black;
	background-color: whitesmoke;
	width:100%;
	height: 40%;
}

.section-bottom-links{
	/*background-color: rgba(0, 100, 0, 0.068);*/

	margin-left: 10%;
	margin-right: 10%;
	/*box-shadow: 0px 0px 10px #888888b9;*/
	text-align:center;
    display: flex;
	align-items: top; /*Aligns the elements (logo, menu list and SearchBar) in the centre of the page(horizontally and vertically), one next to the other in the same line*/
    /*justify-content: space-between; /* justifies the elements. So the items are at both extremes of the page */
}

.section-sub-bottom-links{
	margin-top: 3%;
	margin-bottom: 1%;
	width: 50%;

	
}

.sub-bottom-links-title strong{
	color: darkgreen;
	font-size: 25px;
	border-bottom: 1px solid darkgreen;
}

.sub-bottom-links-title ul, li{
	color: black;
	font-size: 15px;
	display: block; /*displays all the elements of the list one next to the other in the same line*/
    margin: 2% 0 0 0 ; /* Defines margin top of the Menu Bar */
	list-style: none; /* It gets rid of the bullet points */
}

.sub-bottom-links-title a{
	color:black;
	font-size: 17px;
	font-weight: 300;

}

.sub-bottom-links-title a:hover{
    text-decoration: none; /* It gets rid with the decoration when hovered */
	color: darkorange; /* Changes the colour when Buttons are hovered */
}



.footer p{
    background-color: darkgreen; /* Footes Background Colour */
    border: 1px solid darkgreen; /* Sets the Footer border */
    text-align: center; /* Align the Footer's paragraph in the centre */
    color: whitesmoke; /* Sets the colour of the letters */   
}
