/*MENU CSS CODE========================================================================================================================================================================================================================================*/
*{
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Helvetica;
}
.content{
	max-width: 1250px;
	margin: auto;	
	padding: 0px 30px;
}
.navBar{
	position: fixed;
	background: rgba(255, 255, 255, 0.7);
	z-index: 5; /*displays the element on top of any other box that ocupies the same "line" on the screen*/
	width: 100%;
	padding: 0 0;
	transition: all 0.3s ease;
}

.navBar.sticky{
	padding: 8px 0;
	background: rgba(255, 255, 255, 1); /*sets up opacity in the background of the menu but not the text.*/
}

.navBar .logo img{
	width: 75%;
	height: 75%;
}

.search{
	position: fixed;
	right: 20%;
	top: 10px;
}

.search input{
	border: none;
	background: rgba(255, 255, 255, 1);
	opacity: 0.5;
	border-bottom: 1px solid darkgreen;
	font-size:20px;
}

.search button{
	font-size: 27px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	color: darkgreen;
	border: none;
}

.navBar .content{
	display: flex;
	align-items: center;		/*aligns the two elements (logo, menu list) in the centre of the page(horizontally and vertically), one next to the other in the same line*/
	justify-content: space-between;  /*justify the elements so the items are at both extremes of the page*/
}
.navBar .menu-list{
	display: inline-flex; /*displays all the elements of the list one next to the other in the same line*/
	margin-top: 100px;
	margin-right: 26px;
} 
.menu-list li{
	list-style: none; /*getsrid of  the bullet points*/
}

.menu-list li a{
	color: rgb(5,119,61);
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px; /*creates space between the list's elements*/
	text-decoration: none; /*gets rid of the link's underline*/
}

.menu-list li a:hover{
	color: darkorange;
}

.header{
	height: 100vh; /*stablishes the height of the the box*/
	background: url("img/storeFront.jpg") no-repeat; /*places image of store front as a background*/
	background-size: cover; /*image stretches to cover the entirety of the 'header' box*/
	background-position: center;
	background-attachment: fixed; /*keeps picture in place allowing other elements to slide over it*/
}

.navBar .content{
	display: flex;
	align-items: center;		/*aligns the two elements (logo, menu list) in the centre of the page(horizontally and vertically), one next to the other in the same line*/
	justify-content: space-between;  /*justify the elements so the items are at both extremes of the page*/
}

/* 3 lines Button Style and it does not display it */
.icon{
	color: #fff; /* Colour */
	font-size: 20px; /* Font Size */
	cursor: pointer; /* Changes cursor when it is houvered */
 	display: none; /* Hide Icon */
}
.icon.off-btn{
	position: absolute; /* Sets potision as Absolute */ 
	right: 30px;   /* Location of the "X" when the menu is shrunk */
	top: 20px;     /* Location of the "X" in the shrunk down menu*/
}

.navBar .menu-list{
	display: inline-flex; /*displays all the elements of the list one next to the other in the same line*/
	margin-top: 100px;
	margin-right: 26px;
} 
.menu-list li{
	list-style: none; /*getsrid of  the bullet points*/
}

.menu-list li a{
	color: rgb(5,119,61);
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px; /*creates space between the list's elements*/
	text-decoration: none; /*gets rid of the link's underline*/
}

.menu-list li a:hover{
	color: darkorange;
}






/* Places de body under the Menu */
.body-content{
	height: 100vh; /*stablishes the height of the the box*/
	background-color: whitesmoke; /* Background Colour */
	background-size: cover; /*image stretches to cover the entirety of the 'header' box*/
	background-position: center;
	background-attachment: fixed; /*keeps picture in place allowing other elements to slide over it*/
	padding: 40px 0; /*creates a separation this box from the one before it*/
	display: flex;
}

.faq-logo{
	position: fixed;
	margin-left: 70%;
	margin-top: 8%;
	height: 200px;
	width:200px;
}

/* Side Navegation Options Positioning and Style*/
.side-content{
	position: flex; /* Set DIV as Flex */
	height: 45%; /* Height Size */
	width: 15%; /* Widt Size */
	margin-top: 15%; /* Top margin */
	margin-left: 20%; /* Left margin */
	font-size: 18px; /* Font size */
	font-weight: 500; /*Font Weight*/
	border-right: 2px solid darkgreen; /* right border of the side nav*/
}

.side-content p, a{
	margin-top: 10%; /* Top margin setup */
	color: darkgreen; /*Font Color*/
}

.side-content p, a:hover{
	text-decoration: none; /* It gets rid with the Text Decoration */
	color: darkorange; /* Button becomes orange when hoverred */
}

.main-content{
	position: flex;
	height:45%;
	width: 42%;
	margin-top: 15%;
	margin-left: 2%;
}

.btn-collapsible{
	background-color: whitesmoke;
	color: darkgreen;
	cursor: pointer;
	padding: 20px 5px 10px;
	width: 100%;
	border: none;
	border-bottom: 1px solid darkgreen;
	text-align: left;
	outline: none;
	font-size: 18px;
}

.opt-span{
	display:flex;
	font-size: 25px;
	margin-left: 95%;
	margin-top: -4%;
}

.active, .btn-collapsible:hover {
	background-color: rgba(0, 100, 0, 0.294);
}

.collapsible-content{
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}


.ADS{
	border: 1px solid black;
	background-color: whitesmoke;
	width:100%;
	height: 40%;
}

.section-bottom-links{
	/*background-color: rgba(0, 100, 0, 0.068);*/

	margin-left: 10%;
	margin-right: 10%;
	/*box-shadow: 0px 0px 10px #888888b9;*/
	text-align:center;
    display: flex;
	align-items: top; /*Aligns the elements (logo, menu list and SearchBar) in the centre of the page(horizontally and vertically), one next to the other in the same line*/
    /*justify-content: space-between; /* justifies the elements. So the items are at both extremes of the page */
}

.section-sub-bottom-links{
	margin-top: 3%;
	margin-bottom: 1%;
	width: 50%;
	
}

.sub-bottom-links-title strong{
	color: darkgreen;
	font-size: 25px;
	border-bottom: 1px solid darkgreen;
}

.sub-bottom-links-title ul, li{
	color: black;
	font-size: 15px;
	display: block; /*displays all the elements of the list one next to the other in the same line*/
    margin: 2% 0 0 0 ; /* Defines margin top of the Menu Bar */
	list-style: none; /* It gets rid of the bullet points */
}

.sub-bottom-links-title a{
	color:black;
	font-size: 17px;
	font-weight: 300;

}

.sub-bottom-links-title a:hover{
    text-decoration: none; /* It gets rid with the decoration when hovered */
	color: darkorange; /* Changes the colour when Buttons are hovered */
}

.footer p{
    background-color: darkgreen; /* Footes Background Colour */
    border: 1px solid darkgreen; /* Sets the Footer border */
    text-align: center; /* Align the Footer's paragraph in the centre */
    color: whitesmoke; /* Sets the colour of the letters */   
}

/* Mobile Screen Setup */

@media screen and (max-width: 1000px) {
	.icon{
		display: block;
		color: rgb(5,119,61);
		padding-right: 2%;

	}
	.icon.hide{
		display: none;
	}
	.search{
		padding-bottom: 10%;
		position: fixed;
		right: 10%;
		top: 2%;
	}

	.search input{
		border: none;
		background:rgba(254,254,250, 0.7);
		border-bottom: 1px solid darkgreen;
		font-size:12px;
	}
	
	.search button{
		font-size: 15px;
		background:rgba(254,254,250, 0.7);
		color: darkgreen;
		border: none;
	}

	.navBar .logo img{
		width: 25%;
		height: 25%;
	}
	.navBar .menu-list{
		position: fixed;
		top: 0;  /*aligns  menu  with the top left corner of the screen*/
		left: -100%; /*hides the  box off-screen*/
		height: 100vh;
		width: 100%;
		max-width: 400px; /*max widht of the "shrunk" menu's screen*/
		background: rgba(255, 255, 255, 0.9);
		display: block; /*menu elements show one above the other instean on the same line*/
		padding: 40px 0; /*spacing between the elements of the lmenu_ist an the navBar box*/
		text-align: center;
		transition: all 0.3s ease; /*creates delay between the js instruction and the display modification*/
	}
	.navBar .menu-list.active{
		left: 0%;
	}
	.navBar .menu-list li{
		margin-top: 45px; /*spacing between the elements in the menu_list*/
	}
	.navBar .menu-list li a{
		font-size: 24px;
	}	

	.faq-logo{
		display:none;
	}

	.side-content{
		display: none;
	}

	.main-content{
		position: flex;
		height: 50%;
		width: 90%;
		margin-top: 15%;
		margin-left: 5%;
		border: none;
	}

	.ADS{
		display: none;
	}

	.section-bottom-links{
		background-color: whitesmoke;
		margin:0;
		width: 100%;
		
	}



	

	
}


