
/* Created by Jose Carlos Kuzolitz Garcia - x20164840 */

/* Places de body under the Menu */
.body-content{
	height: 100vh; /*stablishes the height of the the box*/
	background-color: whitesmoke; /* Background Colour */
	background-size: cover; /*image stretches to cover the entirety of the 'header' box*/
	background-position: center;
	background-attachment: fixed; /*keeps picture in place allowing other elements to slide over it*/
	padding-top: 5%; /*creates a separation this box from the one before it*/
	display: flex;
}

.faq-logo{
	position: absolute;
	margin-left: 70%;
	margin-top: 8.5%;
	height: 150px;
	width:150px;
}

/* Side Navegation Options Positioning and Style*/
.side-content{
	height: 45%; /* Height Size */
	width: 15%; /* Widt Size */
	margin-top: 15%; /* Top margin */
	margin-left: 20%; /* Left margin */
	font-size: 18px; /* Font size */
	font-weight: 500; /*Font Weight*/
	border-right: 2px solid darkgreen; /* right border of the side nav*/
}

.side-content p, a{
	margin-top: 10%; /* Top margin setup */
	color: darkgreen; /*Font Color*/
}

.side-content p, a:hover{
	text-decoration: none; /* It gets rid with the Text Decoration */
	color: darkorange; /* Button becomes orange when hoverred */
}

.main-content{
	height:45%;
	width: 42%;
	margin-top: 15%;
	margin-left: 2%;
}

.btn-collapsible{
	background-color: whitesmoke;
	color: darkgreen;
	cursor: pointer;
	padding: 20px 5px 10px;
	width: 100%;
	border: none;
	border-bottom: 1px solid darkgreen;
	text-align: left;
	outline: none;
	font-size: 18px;
}

.opt-span{
	display:flex;
	font-size: 25px;
	margin-left: 95%;
	margin-top: -4%;
}

.active, .btn-collapsible:hover {
	background-color: rgba(0, 100, 0, 0.294);
}

.collapsible-content{
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}

.ADS{
	border: 1px solid black;
	background-color: whitesmoke;
	width:100%;
	height: 40%;
}

/*Responsive, partially adapted from tutorial: https://www.youtube.com/watch?v=UHSeFxZIuv8&t=981s   ==============================================================================================================================================================*/
@media screen and (max-width: 1024px) {
	
	.body-content{
		height: 80vh;
		padding-top: 5%;
	}

	.faq-logo{
		height: 80px;
		width: 80px;
	}

	.side-content{
		display: none;
	}

	.main-content{
		height: 50%;
		width: 90%;
		margin-top: 15%;
		margin-left: 5%;
		border: none;
	}

	.ADS{
		display: none;
	}


}

	
