
/*MENU CSS CODE adapted from tutorial   https://www.youtube.com/watch?v=UHSeFxZIuv8&t=981s   ================================================================================================================================================================*/
	/*General outlook for the whole page*/
*{
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Helvetica;
}
/*Navigation menu(logo, search bar, menu), it sticks to the top of the screen at all times*/
.navBar{
	position: fixed;
	background: rgba(255, 255, 255, 0.7);
	z-index: 5; 							/*displays the element on top of any other box that ocupies the same "line" on the screen*/
	width: 100%;
	padding: 0 0;
	transition: all 0.3s ease; 	/*slow down the animation of the menu when scrolling the screen*/
}
/*when the screen scrolls past certain point the stuling of the menu also changes, background becomes opaque */
.navBar.sticky{
	padding: 8px 0;
	background: rgba(255, 255, 255, 1); 	/*sets up opacity in the background of the menu but not the text.*/
}
/*I may resize the logo as part of optimisation*/
.navBar .logo img{
	width: 75%;
	height: 75%;
}
/*menu bar general styling, the class  includes the logo and menu but NOT the search bar*/
.content{
	max-width: 1250px;
	margin: auto;	
	padding: 0px 30px;
}
/*search button general position*/
.search{
	position: fixed;
	right: 20%;
	top: 10px;
}
/*search input styling */
.search input{
	border: none;
	background-color: rgba(245, 245, 245, 0.7);
	opacity: 0.3;
	border-bottom: 1px solid rgb(5,119,61);
	font-size:20px;
}
/* */
.search button{
	font-size: 27px;
	background-color: rgba(245, 245, 245, 0.7);
	opacity: 0.3;
	color: rgb(5,119,61);
	border: none;
}
/*handles the alignment of the menu, except the search bar*/
.navBar .content{
	display: flex;
	align-items: center;		/*aligns the two elements (logo, menu list) in the centre of the page(horizontally and vertically), one next to the other in the same line*/
	justify-content: space-between;  /*justify the elements so the items are at both extremes of the page*/
}
/*navigation options are displayed at the bottom and right of the container*/  /*====================================MODIFIED 17/12/2020==================================================*/
.navBar .menu-list {
	/*margin-top: 100px;
	margin-right: 26px;*/
	position: absolute;
	bottom: 1px;
	right:10px;
} 
/*displays all the links in the navigation menu  one next to the other in the same line*/
.menu-list p{
	display: inline; 
}
/*styling of the links in the navigation menu*/
.menu-list a{
	color: rgb(5,119,61);
	font-size: 18px;
	margin-left: 25px; /*creates space between the list's elements*/
	text-decoration: none; /*gets rid of the link's underline*/
}
.menu-list a:hover{
	text-decoration: none; /*gets rid of the link's underline*/
	color: darkorange;
}
.menu-list a:active{
	text-decoration: none; /*gets rid of the link's underline*/
	color: red;
}
/*Three bars icon menu for samll/mobile devices, hidden by default*/
.icon{
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	display: none;
}

.icon.off-btn{
	position: absolute;  /**/
	right: 30px;   /**/
	top: 20px;     /*location of the "X" in the shrunk down menu*/
}
/*Background Image and box styling behind the carousel*/
.header{
	height: 100vh; /*stablishes the height of the the box*/
	background: url("img/storeFront.jpg") no-repeat; /*places image of store front as a background*/
	background-size: cover; /*image stretches to cover the entirety of the 'header' box*/
	background-position: center;
	background-attachment: fixed; /*keeps picture in place allowing other elements to slide over it*/
	position: relative;
}
/*Carousel  ==============================================================================================================================================================================================================================================*/
/*========================================================================================================================================================================================================================================================*/
#carousel{
	position: absolute;
	top: 30%;
	right: 10%;
	left: 10%;
	width: 80%;
}
.carousel-inner{
	border: 10px solid rgb(5,119,61);
	background-color: rgba(245, 245, 245, 0.7);
}
.carousel-indicators{
	z-index:1; /*indicators sit above the images*/
}
/*Centers the picute in the middle of the carousel*/
.item img{
	padding: 10px;
	margin: auto;
	width:100%;
	min-width: 585px;
}
.item .carousel-caption{
	color: black;
	background-color: rgba(245, 245, 245, 0.3);
}

/*Video============================================================================================================================================================================================================================================*/
.video-player{
	float: right;
	width: 40%;
	border: 3px solid rgb(5,119,61);
	margin: 40px;
}

/*About Text=======================================================================================================================================================================================================================================*/

.reviews{
	padding-top: 50px ; /*creates a separation this box from the one before it*/
	overflow: hidden;
	margin: 0.5%;
}
.reviews .about{
	font-size: 35px;
	font-weight: 700;
	color: rgb(5,119,61);
}
.reviews a{
	font-style: bold;
	color: rgb(5,119,61);
}
.reviews p{
	padding-top: 20px; /*separation between paragraphs inside this box*/
	text-align: justify; /*justifies text */
	font-size: 1.3em;
}
/*Aligns  goolge review box*/
.snipets {
	padding-top: 5%;
	margin:1%;
	display:block;
	text-align:center;
}
.snipets ul{
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}
/*Google Map============================================================================================================================================================================================================================================*/
.map-index{
	padding-top: 5%;
	width: 100%;
	text-align:center;
	margin: 0.5%;
}
.map-index iframe{
	width: 400px;
	height: 300px;
	border: 1px solid rgb(5,119,61);
}
.map-index h3{
	font-size: 200%;
	color: rgb(5,119,61);
	font-weight: 700;
}

/*Footer*/
.section-bottom-links{
	margin-left:10%;
	margin-right:10%;
	text-align:center;
   display: flex;
	align-items: baseline; /*Aligns the elements (logo, menu list and SearchBar) in the centre of the page(horizontally and vertically), one next to the other in the same line*/
   justify-content: space-evenly; /* justifies the elements. So the items are at both extremes of the page */
}

.section-sub-bottom-links{
	margin-top: 3%;
	margin-bottom: 1%;
	width: 50%;
}

.sub-bottom-links-title strong{
	color: rgb(5,119,61);
	font-size: 25px;
	border-bottom: 1px solid rgb(5,119,61);
}

.sub-bottom-links-title ul{
   margin: auto; /*  */
	list-style: none; /* It gets rid of the bullet points */
	display: flex;
	align-items: baseline; /*Aligns the elements (logo, menu list and SearchBar) in the centre of the page(horizontally and vertically), one next to the other in the same line*/
   justify-content: center; /* justifies the elements. So the items are at both extremes of the page */
}
.sub-bottom-links-title li{
	padding: 2px;
}

.fa{
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	cursor: pointer;
}
.fa-facebook{
	background: #3B5998;
	color: white;
}
/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
/*LinkedIn*/
.fa-linkedin {
  background: #007bb5;
  color: white;
}
/*blog */
.blog{
	margin:auto;
	padding: 20px;
	font-size: 12px;
	width: 100px;
	height: 70px;
	display: block;
	color: white;	
	cursor: pointer;
}
.blog-tips{
	background: navy;
}
.blog-insp{
	background: violet;
}
.blog-calc{
	background: skyblue;
}
.blog-shopB{
	background: limegreen;
}

.sub-bottom-links-title a:hover{   
	text-decoration: none; /* It gets rid with the decoration when hovered */
	color: darkorange; /* Changes the colour when Buttons are hovered */
}
.sub-bottom-links-title a:active{
	text-decoration: none; /* It gets rid with the decoration when hovered */
	color: red; /* Changes the colour when Buttons are hovered */
}

.footer p{
    background-color: rgb(5,119,61); /* Footes Background Colour */
    border: 1px solid rgb(5,119,61); /* Sets the Footer border */
    text-align: center; /* Align the Footer's paragraph in the centre */
    color: whitesmoke; /* Sets the colour of the letters */   
}

/*Jose Carlos =FAQ================================================================================================================================*/
/* Created by Jose Carlos Kuzolitz Garcia - x20164840 */

/* Places de body under the Menu */
.body-content{
	height: 120vh; /*stablishes the height of the the box*/
	background-color: whitesmoke; /* Background Colour */
	background-size: cover; /*image stretches to cover the entirety of the 'header' box*/
	background-position: center;
	background-attachment: fixed; /*keeps picture in place allowing other elements to slide over it*/
	padding-top: 5%; /*creates a separation this box from the one before it*/
	display: flex;
}

.faq-logo{
	position: absolute;
	margin-left: 70%;
	margin-top: 8.5%;
	height: 150px;
	width:150px;
}

/* Side Navegation Options Positioning and Style*/
.side-content{
	height: 45%; /* Height Size */
	width: 15%; /* Widt Size */
	margin-top: 15%; /* Top margin */
	margin-left: 20%; /* Left margin */
	font-size: 18px; /* Font size */
	font-weight: 500; /*Font Weight*/
	border-right: 2px solid darkgreen; /* right border of the side nav*/
}

.side-content p, a{
	margin-top: 10%; /* Top margin setup */
	color: darkgreen; /*Font Color*/
}

.side-content p, a:hover{
	text-decoration: none; /* It gets rid with the Text Decoration */
	color: darkorange; /* Button becomes orange when hoverred */
}

.main-content{
	height:45%;
	width: 42%;
	margin-top: 15%;
	margin-left: 2%;
}

.btn-collapsible{
	background-color: whitesmoke;
	color: darkgreen;
	cursor: pointer;
	padding: 20px 5px 10px;
	width: 100%;
	border: none;
	border-bottom: 1px solid darkgreen;
	text-align: left;
	outline: none;
	font-size: 18px;
}

.opt-span{
	display:flex;
	font-size: 25px;
	margin-left: 95%;
	margin-top: -4%;
}

.active, .btn-collapsible:hover {
	background-color: rgba(0, 100, 0, 0.294);
}

.collapsible-content{
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}

.ADS{
	border: 1px solid black;
	background-color: whitesmoke;
	width:100%;
	height: 40%;
}

/*Jose Carlos =Contact========================================================*/
/* Places de body under the Menu */
.body-content-contact{
	height: 120vh; /*stablishes the height of the the box*/
	background-color: whitesmoke; /* Background Colour */
	background-size: cover; /*image stretches to cover the entirety of the 'header' box*/
	background-position: center;
	background-attachment: fixed; /*keeps picture in place allowing other elements to slide over it*/
	padding: 40px 0; /*creates a separation this box from the one before it*/
}
.body-content-div{
	display: flex;
	align-items: center;
	padding-top: 10%;
}

/* Form Positioning */
.body-content-div-form{
	margin:5% 5% 5% 5%;
	text-align: justify; /*justifies text */
	height: 80%;
	width: 100%;
}

.notform{
	width: 60%;
	margin-top: 0%;
	margin-right:15%;
}

/* Table positioning and Style */
.body-content-div-from-table{
	margin-left: 32%;
	
}

.body-content-div-from-table tr, td{
	padding: 5px;
	width:70%;
}

.form-label{
	font-weight: bold;
}

.body-content-div-from-table input, textarea{
	font-family:Arial, Helvetica, sans-serif;
	padding-left: 5px;
	margin-bottom: 10px;;
	height:30px;
	width:100%;
}

.body-content-div-from-table textarea{
	font-family:Arial, Helvetica, sans-serif;
	padding-top: 5px;
	padding-left: 5px;
	height:30px;
	width:100%;
}

.input-table-Fname.error,.input-table-phone.error,.input-table-email.error,.textArea.error{
	border: 1px solid gray;
	box-shadow: 0px 0px 10px #c80f0fc9;

}

.error{
	position: relative;
	text-align: left;
	font-size: 12px;
	color: red;
	padding: 0;
	margin:0;
	top:10px;
}

/* Send Button Style and positioning */
.message-btn{
	font-size: 20px;
	width: 50%;	
	border: none;
	border-radius: 5px;
	padding: 5px;
	background-color: rgba(0, 100, 0, 0.561);
	color: whitesmoke;
	text-align: center;
}

/* Send Button Style when hovered */
.message-btn:hover{
    text-decoration: none; /* It gets rid with the decoration when hovered */
	background-color: darkgreen; /* Changes the colour when Buttons are hovered */
}

/*Contact Details Style and Positioning */
.contact-details{	
	width: 80%;
}

.contact-details label{
	font-weight: bold;
}

.contact-details h4{
	border-bottom: 1px solid black;
	font-weight: bold;
	margin-bottom: 6%;
}

/*Map position and style */
.map{
	padding-top: 0%;
	margin-top: 5%;
	width:80%;
	box-shadow: 0px 0px 10px #888888b9;
}

.map iframe{
	width: 100%;
}

/*Samsom code=products====================================================================================================================================================================================================================================*/
.body-content-product {
	box-sizing: border-box;
	height: 1800vh;
	padding-top: 150px;
	background-color: whitesmoke;
}

.cook-items {
	display: flex;
	/*add space between the menu cook items*/
	justify-content: space-evenly;
	/*align text cook items to center*/
	text-align: center;
	/*cook items background color*/
	background-color: rgba(0, 100, 0, 1);
	/*cook items border color*/
	border: 2px solid darkgreen;
	/*cook items width*/
	width: 100%;
}
.body-content-product {
    box-sizing: border-box;
    height: 1800vh;
    padding-top: 150px;
    background-color: whitesmoke;
}

.cook-items {
    display: flex;
    /*add space between the menu cook items*/
    justify-content: space-evenly;
    /*align text cook items to center*/
    text-align: center;
    /*cook items background color*/
    background-color: rgba(0, 100, 0, 1);
    /*cook items border color*/
    border: 2px solid darkgreen;
    /*cook items width*/
    width: 100%;
}
/*style cook iteme menu*/

.cook-items a {
	/*set color to whitesmoke*/
	color: whitesmoke;
	/*take off text decoration*/
	text-decoration: none;
    /*set color to whitesmoke*/
    color: whitesmoke;
    /*take off text decoration*/
    text-decoration: none;
}
/*set space cook item menu*/

.catagory {
	margin: 0 -20% 0;
}
/*main header cooker catagory*/

.item_details {
	margin: 0 -20% 0;
	font-size: 18px;
	/* cook Items menu set color to whitesmoke  */
	color: whitesmoke;
	text-decoration: none;
	cursor: pointer;
}
/*Dropdown catagory*/

.dropdown-catagory {
	display: none;
	position: absolute;
	background-color: #ffffff;
	width: 170px;
	z-index: 1;
	border-radius: 5px;
}
/*Dropdown catagory a*/

.dropdown-catagory a {
	/* drop down menu set color to black  */
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

.dropdown-catagory a:hover {
	/*dropdown hover color*/
	background-color: #fcf9f9;
	/*dropdown no border*/
	border: none;
}
/*dropdown catagory display block*/

.catagory:hover .dropdown-catagory {
	display: block;
}
/*product product-container*/

.product-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	padding: 20px;
	min-width: 1000px;
}
/*style product*/
.filterDiv {
	border-radius: 10px;
	width: 15%;
	margin: 40px 40px 40px 40px;
	cursor: pointer;
	color: rgb(29, 27, 27);
	font-weight: bold;
	text-align: center;
	/* Hidden by default */
}

.row p, button {
	position: baseline;
}
/*edit size image product details*/

.product_image {
	width: 95%;
	height: 80%;
}
/*edit a product*/

.row a {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
	color: black;
	text-decoration: none;
}
/* Add color on mouse-over to price */
.shop-item-price a:hover {
	text-decoration: none;
	background-color: rgb(252, 249, 249);
}
/* Add margin on shop detail button*/
.filterDiv button, p, image {
	margin: 10px;
}

.filterDiv img {
	font-weight: bold;
	border: 2px solid rgb(184, 183, 183);
}
/*style button*/
.btn {
	/*set text center*/
	text-align: center;
	/*vertical align middle*/
	vertical-align: middle;
	/*add padding*/
	padding: .67em .67em;
	/*cursor point*/
	cursor: pointer;
}
/*style cart*/

.btn-primary {
	color: white;
	background-color: #56CCF2;
	border: none;
	border-radius: .3em;
	font-weight: bold;
}
/*style cart hover*/

.btn-primary :hover {
	background-color: #2D9CDB;
	cursor: pointer;
}

/*main header cooker catagory*/

.item_details {
    margin: 0 -20% 0;
    font-size: 18px;
    /* cook Items menu set color to whitesmoke  */
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
}
/*Dropdown catagory*/

.dropdown-catagory {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 170px;
    z-index: 1;
    border-radius: 5px;
}
/*Dropdown catagory a*/

.dropdown-catagory a {
    /* drop down menu set color to black  */
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-catagory a:hover {
    /*dropdown hover color*/
    background-color: #fcf9f9;
    /*dropdown no border*/
    border: none;
}
/*dropdown catagory display block*/

.catagory:hover .dropdown-catagory {
    display: block;
}
/*product product-container*/

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px;
    min-width: 1000px;
}
/*style product*/

.filterDiv {
    border-radius: 10px;
    width: 15%;
    margin: 40px 40px 40px 40px;
    cursor: pointer;
    color: rgb(29, 27, 27);
    font-weight: bold;
    text-align: center;
    /* Hidden by default */
}

.row p,
button {
    position: baseline;
}
/*edit size image product details*/

.product_image {
    width: 95%;
    height: 80%;
}
/*edit a product*/

.row a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
/* Add color on mouse-over to price */

.shop-item-price a:hover {
    text-decoration: none;
    background-color: rgb(252, 249, 249);
}
/* Add margin on shop detail button*/

.filterDiv button, p, image {
    margin: 10px;
}

.filterDiv img {
    font-weight: bold;
            border: 2px solid rgb(184, 183, 183);
}
/*style button*/

.btn {
    /*set text center*/
    text-align: center;
    /*vertical align middle*/
    vertical-align: middle;
    /*add padding*/
    padding: .67em .67em;
    /*cursor point*/
    cursor: pointer;
}
/*style cart*/

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
/*style cart hover*/

.btn-primary :hover {
    background-color: #2D9CDB;
    cursor: pointer;
}

/*Responsive, partially adapted from tutorial: https://www.youtube.com/watch?v=UHSeFxZIuv8&t=981s   ==============================================================================================================================================================*/
@media screen and (max-width: 1024px) {
	.icon{
		display: block;
		color: rgb(5,119,61);
	}
	.icon.hide{
		display: none;
	}
	.search{
		position: fixed;
		right: 13%;
		top: -10px;
	}
	
	.search input{
		border: none;
		background: rgba(255, 255, 255, 0.431);
		border-bottom: 1px solid rgb(5,119,61);
		font-size:12px;
	}
	
	.search button{
		font-size: 17px;
		background: rgba(255, 255, 255, 0);
		color: rgb(5,119,61);
		border: none;
	}

	.navBar .logo img{
		width: 25%;
		height: 25%;
	}
	.navBar .menu-list{
		position: fixed;
		top: 7%;  /*aligns  menu  with the top left corner of the screen*/
		left: -90%; /*hides the  box off-screen*/
		height: 100vh;
		width: 90%;
		max-width: 400px; /*max widht of the "shrunk" menu's screen*/
		background: rgba(255, 255, 255, 0.9);
		display: block; /*menu elements show one above the other instean on the same line*/
		padding: 40px 0; /*spacing between the elements of the lmenu_ist an the navBar box*/
		text-align: center;
		z-index: 2;    /*displays above all other elements*/
		transition: all 0.3s ease; /*creates delay between the js instruction and the display modification*/
	}
	.navBar .menu-list.active{
		left: 0%;
	}

	.menu-list p{
		display: block; /*displays all the elements of the list one next to the other in the same line*/
		margin-top: 5%;
		padding-bottom: 10%;
	}

	.navBar .menu-list a{
		margin-top: 45px; /*spacing between the elements in the menu_list*/
		font-size: 24px;
	}	
	/*Carousel mobile*/
	.item{
	padding-left: 0%;
	}
	.item img{
	width:100%;
	}
	/*Review images*/
	.snipets ul{
		display: block;
	}
	/*Video mobile*/
	.video-player{
		float: none;
		width: 100%;
		margin:auto;
	}
	.map-index iframe{
		margin: auto;
		width: 90%;
	}
	.sub-bottom-links-title ul{
		display: block;
	}
	.blog{
		padding: 10px;
		font-size: 0.8em;
		height: 50%;
	}
	/*jose carlos=FAQ============================================================*/
		.body-content{
		height: 80vh;
		padding-top: 5%;
	}

	.faq-logo{
		height: 80px;
		width: 80px;
	}

	.side-content{
		display: none;
	}

	.main-content{
		height: 50%;
		width: 90%;
		margin-top: 15%;
		margin-left: 5%;
		border: none;
	}

	.ADS{
		display: none;
	}
	/*Jose Carlos= Contact=========================================================*/
	.body-content-contact{
		height: 170vh;
	}
	.body-content-div{
		background-color: whitesmoke;
		text-align: center;	
		display: block;
	}

	.body-content-div-form{
		margin-top:1%;
		margin-left: 5%;
		width:100%;
	}

	.body-content-div-from-table{
		margin-left: 0%;		
	}

	.body-content-div-from-table input, textarea{
		font-size: 11px;
	}

	.notform{
		margin-top: 15%;
		margin-left: 14%;
		padding-bottom: 15%;
		width: 90%;
		text-align: center;
		background-color: whitesmoke;
	}
	/*Samsom= Products=============================================================================================================================================================*/
	 /*style cook iteme menu*/
	.cook-items {
		display: block;
		height: 30vh;
		position: relative;
	}
	.dropdown-catagory {
		left: 1%;
		right: 50%;
		width: 30%; 
		padding:2px;
	}
	.product-container {
		display: block;
		overflow: hidden;
		padding: 22px;
		width:80%;
	}
	.filterDiv p, button {
		max-width: 80px;
		margin: 20px;
	}
}

