/*MENU CSS CODE========================================================================================================================================================================================================================================*/
*{
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Helvetica;
}
.content{
	max-width: 1250px;
	margin: auto;	
	padding: 0px 30px;
}
.navBar{
	position: fixed;
	background: rgba(255, 255, 255, 0.7);
	z-index: 5; /*displays the element on top of any other box that ocupies the same "line" on the screen*/
	width: 100%;
	padding: 0 0;
	transition: all 0.3s ease;
}

.navBar.sticky{
	padding: 8px 0;
	background: rgba(255, 255, 255, 1); /*sets up opacity in the background of the menu but not the text.*/
}

.navBar .logo img{
	width: 75%;
	height: 75%;
}

.search{
	position: fixed;
	right: 61px;
	top: 10px;
}

.navBar .content{
	display: flex;
	align-items: center;		/*aligns the two elements (logo, menu list) in the centre of the page(horizontally and vertically), one next to the other in the same line*/
	justify-content: space-between;  /*justify the elements so the items are at both extremes of the page*/
}
.navBar .menu-list{
	display: inline-flex; /*displays all the elements of the list one next to the other in the same line*/
	margin-top: 100px;
	margin-right: 26px;
} 
.menu-list li{
	list-style: none; /*getsrid of  the bullet points*/
}

.menu-list li a{
	color: rgb(5,119,61);
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px; /*creates space between the list's elements*/
	text-decoration: none; /*gets rid of the link's underline*/
}

.menu-list li a:hover{
	color: darkorange;
}

.header{
	height: 100vh; /*stablishes the height of the the box*/
	background: url("img/storeFront.jpg") no-repeat; /*places image of store front as a background*/
	background-size: cover; /*image stretches to cover the entirety of the 'header' box*/
	background-position: center;
	background-attachment: fixed; /*keeps picture in place allowing other elements to slide over it*/
}
.reviews{
	padding: 40px 0; /*creates a separation this box from the one before it*/
	overflow: hidden;
}
.reviews .test{
	font-size: 35px;
	font-weight: 700;
}
.reviews p{
	padding-top: 20px; /*separation between paragraphs inside this box*/
	text-align: justify; /*justifies text */
}

.icon{
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	display: none;
}
.icon.off-btn{
	position: absolute;  /**/
	right: 30px;   /**/
	top: 20px;     /*location of the "X" in the shrunk down menu*/
}
/*Carousel ==============================================================================================================================================================================================================================================*/
/*========================================================================================================================================================================================================================================================*/
#carousel{
	position: absolute;
	top: 30%;
	width: 100%;
}
.carousel-inner{
	width:100%;
	height:100%;
}
.carousel-indicators{
	z-index:1; /*indicators sit above the images*/
}

.item{
	padding-left: 28%;
}
.item img{
	width:100%;
	min-width: 585px;
}
.item .carousel-caption{
	-webkit-text-stroke: 1px white; /* width and color */
	color: black;
	z-index:1; /*captions sit on top of the images in carousel*/
}

.map{
	padding-top: 10%;
	width: 100%;
	text-align:center;
}
.map h3{
	font-size: 200%;
	color: rgb(5,119,61);
	font-weight: 700;
}

/*Responsive=================================================================================================================================================================================================================================================*/
@media screen and (max-width: 868px) {
	.icon{
		display: block;
		color: rgb(5,119,61);
	}
	.icon.hide{
		display: none;
	}
	.search{
		padding-bottom: 10%;
	}
	.navBar .logo img{
		width: 25%;
		height: 25%;
	}
	.navBar .menu-list{
		position: fixed;
		top: 0;  /*aligns  menu  with the top left corner of the screen*/
		left: -100%; /*hides the  box off-screen*/
		height: 100vh;
		width: 100%;
		max-width: 400px; /*max widht of the "shrunk" menu's screen*/
		background: rgba(255, 255, 255, 0.9);
		display: block; /*menu elements show one above the other instean on the same line*/
		padding: 40px 0; /*spacing between the elements of the lmenu_ist an the navBar box*/
		text-align: center;
		z-index: 2;    /*displays above all other elements*/
		transition: all 0.3s ease; /*creates delay between the js instruction and the display modification*/
	}
	.navBar .menu-list.active{
		left: 0%;
	}
	.navBar .menu-list li{
		margin-top: 45px; /*spacing between the elements in the menu_list*/
	}
	.navBar .menu-list li a{
		font-size: 24px;
	}	
	/*Carousel mobile*/
	.item{
	padding-left: 0%;
	}
	.item img{
	width:100%;
	}
}
