*{
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Helvetica;
}
.content{
	max-width: 1250px;
	margin: auto;	
	padding: 0px 30px;
}
.navBar{
	position: fixed;
	background: darkgreen;
	z-index: 5; /*displays the element on top of any other box that ocupies the same "line" on the screen*/
	width: 100%;
	padding: 10px 0;
}

.navBar .logo a{
	color: #fff;
	font-size: 30px;
	font-weight: 600; /*thickness of the characters */
	text-decoration: none; /*gets rid of the link's underline*/
}

.navBar .content{
	display: flex;
	align-items: center;		/*aligns the two elements (logo, menu list) in the centre of the page(horizontally and vertically), one next to the other in the same line*/
	justify-content: space-between;  /*justify the elements so the items are at both extremes of the page*/
}
.navBar .menu-list{
	display: inline-flex; /*displays all the elements of the list one next to the other in the same line*/
} 
.menu-list li{
	list-style: none; /*getsrid of  the bullet points*/
}

.menu-list li a{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px; /*creates space between the list's elements*/
	text-decoration: none; /*gets rid of the link's underline*/
}

.menu-list li a:hover{
	color: darkorange;
}

.header{
	height: 100vh; /*stablishes the height of the the box*/
	background: url("img/storeFront.jpg") no-repeat; /*places image of store front as a background*/
	background-size: cover; /*image stretches to cover the entirety of the 'header' box*/
	background-position: center;
	background-attachment: fixed; /*keeps picture in place allowing other elements to slide over it*/
}
.reviews{
	padding: 40px 0; /*creates a separation this box from the one before it*/
}
.reviews .test{
	font-size: 35px;
	font-weight: 700;
}
.reviews p{
	padding-top: 20px; /*separation between paragraphs inside this box*/
	text-align: justify; /*justifies text */
}

.icon{
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	display: none;
}
.icon.off-btn{
	position: absolute;  /**/
	right: 30px;   /**/
	top: 20px;     /*location of the "X" in the shrunk down menu*/
}

@media (max-width: ){
}

@media screen and (max-width: 868px) {
	.icon{
		display: block;
	}
	.icon.hide{
		display: none;
	}
	.navBar .menu-list{
		position: fixed;
		top: 0;  /*aligns  menu  with the top left corner of the screen*/
		left: -100%; /*hides the  box off-screen*/
		height: 100vh;
		width: 100%;
		max-width: 400px; /*max widht of the "shrunk" menu's screen*/
		background: darkgreen;
		display: block; /*menu elements show one above the other instean on the same line*/
		padding: 40px 0; /*spacing between the elements of the lmenu_ist an the navBar box*/
		text-align: center;
		transition: all 0.3s ease; /*creates delay between the js instruction and the display modification*/
	}
	.navBar .menu-list.active{
		left: 0%;
	}
	.navBar .menu-list li{
		margin-top: 45px; /*spacing between the elements in the menu_list*/
	}
	.navBar .menu-list li a{
		font-size: 24px;
	}
	
}