/*set body*/

.shoppingCart-body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
    background-color: whitesmoke;
    box-sizing: border-box;
}


/*setting checkout-detail*/

.checkout-detail {
    display: -ms-flexbox;
    display: flex;
    width: 700px;
    align-items: center;
}


/*setting wrapper*/

.wrapper {
    display: flex;
    /*set margin*/
    margin-top: 180px;
    /*set width*/
    width: 100%;
}


/*persenal detail box*/

.personalDetail {
    /*set margin*/
    margin: 20px;
}


/*set cart*/

.cart-holder {
    max-width: 400px;
    justify-content: space-around;
    margin: 0 auto;
}

.cart-holder ion-icon {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}


/**cart header*/

.cart-header {
    width: 400px;
    max-width: 500px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.checkout-price {
    width: 15%;
    display: flex;
    align-items: center;
}

.checkout-quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.checkout-total {
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}


/*set detail*/

.detail {
    flex: 50%;
    padding: 0 10px;
}

.checkout-container {
    padding: 20px;
}


/*set checkout container*/

.Checkout-container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}


/*setting text input*/

input[type=text] {
    /*set input width*/
    width: 80%;
    /*set margin*/
    margin-bottom: 20px;
    /*set padding*/
    padding: 12px;
    /*set boarder*/
    border: 1px solid #ccc;
    border-radius: 3px;
}


/*set lebel*/

label {
    margin-bottom: 5px;
    display: block;
}


/*set icon-container*/

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}


/*set button*/

.checkout-btn {
    /*set center*/
    justify-content: center;
    /*background color green*/
    background-color: #4CAF50;
    /*color white*/
    color: white;
    /*set padding*/
    padding: 12px;
    /*set margin*/
    margin: 0 50px 0 50px;
    /*set border to none*/
    border: none;
    /*border width*/
    width: 80%;
    /*border radius*/
    border-radius: 3px;
    /*set cursor*/
    cursor: pointer;
    /*set font*/
    font-size: 17px;
}


/* hover */

.btn:hover {
    /*hower background green*/
    background-color: #45a049;
}


/*cart product color blue*/

a {
    color: #101f2c;
}


/*set container*/

.cart-container {
    color: rgb(34, 31, 31);
    font-weight: bold;
}


/* set price*/

span.price {
    float: right;
    color: black;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */

@media (max-width: 800px) {
    .checkout-row {
        flex-direction: column-reverse;
    }
    .cart {
        margin-bottom: 20px;
    }
}
